@using OnlineShopping.Models;
@model List<Products>
@{
    ViewData["Title"] = "Cart";
}
<head>
<script src="https://kit.fontawesome.com/0b22872ed8.js" crossorigin="anonymous"></script>
</head>
<h1>Your Cart</h1>

<br />

<div class="row">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Product Type</th>
              <th>Color</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
            @foreach (var item in Model)
           {
                <tr>
                    <td>
                        <img src="~/@item.Image" width="200px" height="150px">
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>@item.ProductColor</td>
                    <td>
                        <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Product" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
           }
        </tbody>
  </table>
</div>
